.env
.env.*
!.env.example
node_modules/
npm-debug.log*
.next/
.env.local
.env.*.local
*.log
*.pem
.DS_Store
yarn-debug.log*
yarn-error.log*
.swc
dist/
build/
out/
coverage/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
